@import "../../node_modules/sass-mediaqueries/_media-queries";
@import 'base/_module';
@import 'utils/_module';
@import 'layout/_module';
@import 'sections/_module';
@import 'components/_module';

html{
    height:100%;
}
body {
    background-color : $brown;
    @extend %oldified;
    font-family:'Montserrat', sans-serif;
    height:100%;
    overflow:hidden;
    font-size:13px;
}

#root{
    height:100%;
    & > div{
        height:100%;
    }
}

h1{
    font-family : "Pacifico", cursive;
    font-size:50px;
    color:$orange;
    line-height:50px;
}

div, h2, h3, h4, h5, span, input,p{
    font-family:'Montserrat', sans-serif;
}

h2{
    font-family : "Pacifico", cursive;
    font-size:30px;
    color:$orange;
}
h3{
    font-size:24px;
    color:$orange;
    text-transform:uppercase;
    font-weight:800;
}
h5{
    font-size:16px;
    color:$beige;
    margin-bottom:10px;
}

h4{
    font-size:16px;
    color:$beige;
    text-transform:uppercase;
    font-weight:300;
}
.lastName{
    font-weight:800;
}
