.people-item{
    display:inline-block;
    position:relative;
    text-align:center;
    margin:30px 20px;
    cursor:pointer;
    transition:all ease 0.2s;
    & *{
        transition:all ease 0.2s!important;
    }
    .people-item__picture{
        position:relative;
        border-radius:50%;
        overflow:hidden;
        width:180px;
        height:180px;
        img{
            width:164px;
            height:164px;
            border-radius:50%;
            border:8px solid rgba($beige,0.75);
        }
    }
    h4{
        padding:8px 0px;
        border-top:1px solid $yellow;
        border-bottom:1px solid $yellow;
    }
    .tag-label{
        @extend .z-depth-2;

        width:auto;
        transform:translateY(-20px);
    }
    &:hover{
        .people-item__picture{
            @extend .z-depth-5;
            img{
                border:8px solid $orange;
            }
        }
        h4{
            color:$orange;
            border-top:1px solid $orange;
            border-bottom:1px solid $orange;
        }
    }
}
#people{
    h1{
        border-bottom:2px dashed $orange;
        padding-bottom:30px;
    }
    .header-content{
        figure, article{
            display:table-cell;
            vertical-align:middle;
        }
        figure{
            text-align:center;
            figcaption{
                margin-top:5px;
                color:rgba(white,0.5);
                text-align:center;
                font-size:12px;
                .i-calendar{
                    font-size : 14px;
                    margin-right:5px;
                }
            }
        }
        article{
            padding:0px 0px 0px 30px;
        }
    }
    .people__tags{
        margin:10px 0px;
    }
}
