html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-weight:normal;
}
a {
    text-decoration:none;
    color:inherit;
}
input{
    border:none;
    background:none;
    outline:none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    inherit;
    opacity: 0.4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    inherit;
    opacity: 0.4;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    inherit;
    opacity: 0.4;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    inherit;
    opacity: 0.4;
}
