%unselectable{
	-webkit-user-select: none;
  	-moz-user-select: none;
 	 -ms-user-select: none;
 	 user-select: none;
}
%circle-picture-hover{
    img{
        transform:scale(1.2);
    }
    &:after{
        border-width:90px;
        border-color:rgba(white,0.1);
    }
    &.big:after{
        border-width:125px;
    }
    &.tiny:after{
        border-width:32px;
    }
    &.small:after{
        border-width:44px;
    }
}
