.pagination{
    ul{
        display:block;
        text-align:center;
    }
    li{
        display:inline-block;
        vertical-align:middle;
        box-sizing:border-box;
        border-radius:50%;
        width:36px;
        height:36px;
        border:2px solid rgba($old-white, 0.3);
        line-height:36px;
        color:$yellow;
        position:relative;
        margin:0px 10px;
        font-size:18px;
        font-weight:400;
        &:before, &:after{
            content:"";
            display:inline-block;
            width:10px;
            height:2px;
            position:absolute;
            top:calc(50% - 1px);
            background-color:rgba($old-white, 0.3);
        }
        &.empty{
            color:rgba($old-white, 0.3);
            span{
                position:absolute;
                transform:translate(-50%,-50%);
            }
        }
        &:before{
            left:-2px;
            transform:translateX(-100%);
        }
        &:after{
            left:calc(100% + 2px);
        }
        &:first-child{
            &:before{
                width:30px;
            }
        }
        &:last-child{
            &:after{
                width:30px;
            }
        }
    }
}
